# Node Modules
node_modules/

# Environment Variables
.env

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Build Directories
build/
dist/

# IDE Specific Files
.vscode/
.idea/

# Docker Files
*.dockerfile
docker-compose.override.yml

